html , html body, .main_container, .main_container .row, .side_bar , .main_content{
	height:100%;
font-family: 'Lato', sans-serif;
}

.main_content{
	display: table;
}

.main_content .intro_cont, .side_bar .main_bar{
	display: table-cell;
	vertical-align: middle;
}

.intro_cont h1{
	font-size: 150px;
}
.intro_cont h3{
	max-width: 500px;
	margin:auto;
}

.main_content .page{
	height: 100vh;
	width : 100%;
	display: table;
}

.sidebar{
	width: 100px;
	height: 400px;
}

.row nav{
	top: 0;
	bottom:0;
	width: 15%;
	height: 100vh;
	display: table;
	position: fixed;
}

.row nav ul{
	display: table-cell;
	vertical-align: middle;
}
