$color_primary:#aaa;
$color_font:#67666A;
$color_secondary_dark:#FF9A61;

// $title_font_size:;
// $subtitle_font_size;
// $content_font_size:;

$break_small: 320px;
$break_medium: 321px;
$break_large: 1000px;

$advance_width : 20vmin;
$intermediate_width : 15vmin;
$basic_width : 10vmin;

$basic_legend : 2vmin;
$advanced_legend : 4vmin;
