<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Krysler A. Pinto</title>

	<!-- Latest compiled and minified CSS -->
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
	<div class="main_container container-fluid">
		<div class="row">
		  <div class="col-xs-11 col-xs-offset-1 main_content">
		  	<section class="page" id="home_section">
		  		<div class="intro_cont text-center">
						<section id="personal_image" class="">
							<img src="../public/img/krys1_gray.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle default_pic">
							<img src="../public/img/krys2.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle extra_pic_0 extra_pic">
							<img src="../public/img/krys3.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle extra_pic_1 extra_pic">
						</section>
			  		<h1>¡HOLA!</h1>
			  		<h4>My name is Krysler Pinto, I am a Computer Engineer. I am a problem solver, I analyse, I design solutions from database design, front-end, back-end development to deployment. I do not have all the answers but I am always willing to learn, to share and to challenge myself.</h4>
					</div>
		  	</section>
		  	<section class="page" id="skills_section">
		  		<div class=" text-right">
			  		<h2>SKILLS</h2>
						<hr>
			  	</div>
					<div class="legend_container text-right" style="position:absolute;right:0">
						<div id="legend_icons"></div>
						<span class="legend_label"></span>
					</div>
					<div id="skills_container"></div>
		  	</section>
				<section class="page" id="contact_section">
					<div>
			  		<div class=" text-right">
				  		<h2>CONTACT</h2>
							<hr>
						</div>
						<div class="content">

								<p>Would you like to work on a project together?</p>
								<p>Do you have a crazy idea to share?</p>
								<p>Just contact me.</p>
								<p class="emailme">pinto.krysler@gmail.com</p>
								<div class="followme">
									<span><a href="https://github.com/pintokrysler" target="_blank"><img src="../public/img/github_medium.png" style="max-width:100px;"></img></a></span>
									<span><a href="https://www.linkedin.com/in/kryslerpinto" target="_blank"><img src="../public/img/linkedin.png?width=200" style="max-width:100px;"></img></a></span>
								</div>
						</div>
				</div>

		  	</section>
		  </div>

			<nav>
				<ul class="list-unstyled">
					<li><a href="#home_section" class="nav_icon"><img src="../public/img/home_icon.svg" style="width:40px;height:40px"></a></li>
					<li><a href="#skills_section" class="nav_icon" id="skills_btn"><img src="../public/img/computer_icon.svg" style="width:40px;height:40px"></a></li>
					<li><a href="#contact_section" class="nav_icon"><img src="../public/img/contact_icon.svg" style="width:40px;height:40px"></a></li>
					<li><a href="../public/file/krysler_pinto_resume.pdf" target="_blank" class="nav_icon"><img src="../public/img/download_icon.svg" style="width:40px;height:40px"></a></a></li>
				</ul>
			</nav>

		</div>
	</div>

</body>
	<script type="text/javascript" src="../public/js/main.js"></script>
</html>
