<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Krysler A. Pinto</title>

	<!-- Latest compiled and minified CSS -->
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
	<div class="main_container container-fluid">
		<div class="row">
		  <div class="col-xs-11 col-xs-offset-1 main_content">
		  	<section class="page" id="home_section">
		  		<div class="intro_cont text-center">
						<section id="personal_image" class="">
							<img src="../public/img/krys1_gray.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle default_pic">
							<img src="../public/img/krys2.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle extra_pic_0 extra_pic">
							<img src="../public/img/krys3.png?width=600" style="width:290px;height:290px" alt="Krysler" class="img-circle extra_pic_1 extra_pic">
						</section>
			  		<h1>¡HOLA!</h1>
			  		<h4>I am Krysler Pinto, I am a Computer Engineer. I am a problem solver, I analyse, I design solutions from database design, front-end, back-end development to deployment. I do not have all the answers but I am always willing to learn, to share and to challenge myself.</h4>
					</div>
		  	</section>
		  	<section class="page" id="skills_section">
		  		<div class=" text-right">
			  		<h2>SKILLS</h2>
						<hr>
			  	</div>
					<div class="legend_container text-right" style="position:absolute;right:0">
						<div id="legend_icons"></div>
						<span class="legend_label"></span>
					</div>
					<div id="skills_container"></div>
		  	</section>
				<section class="page" id="interests_section">
					<div class=" text-right">
						<h2>INTERESTS</h2>
						<hr>
					</div>
					<div class="content">
					</div>

				</section>
				<section class="page" id="contact_section">
					<div class=" text-right">
						<h2>CONTACT</h2>
						<hr>
					</div>
						<div class="content">
								<p>Would you like to work on a project together?</p>
								<p>Do you have a crazy idea to share?</p>
								<p>Just contact me.</p>
								<p class="emailme">pinto.krysler@gmail.com</p>
								<div class="followme">
									<span><a href="https://github.com/pintokrysler" target="_blank"><img src="../public/img/github_medium.png" style="max-width:100px;"></img></a></span>
									<span><a href="https://www.linkedin.com/in/kryslerpinto" target="_blank"><img src="../public/img/linkedin.png?width=200" style="max-width:100px;"></img></a></span>
								</div>
						</div>
		  	</section>
		  </div>
			<nav>
				<ul class="list-unstyled" id="sidebar">
					<li><a href="#home_section" class="nav_icon">
						<svg width="40" height="40" viewBox="0 0 137 104" class="home_icon_svg">
							<g fill="none" class="home_svg_group">
									<g style="stroke-width:4;stroke:#4A4A4A"><path class="mytestsvg" d="M22 36L22 99C22 100.7 23.3 102 25 102L56 102 56 62 82 62 82 102 82 102 112 102C113.6 102 115 100.7 115 99L115 36"/><path d="M2 52L64.5 4C66.7 2.4 70.3 2.4 72.5 4L135 52"/></g>
							</g>
						</svg>
				</a></li>
					<!-- <li><a href="#home_section" class="nav_icon"><img src="../public/img/home_icon.svg" style="width:40px;height:40px"></a></li> -->
					<li><a href="#skills_section" class="nav_icon" id="skills_btn">
						<svg width="40px" height="40px" viewBox="0 0 92 93" version="1.1" class="computer_icon_svg">
						    <defs>
						        <rect id="path-1" x="0" y="0" width="92" height="58" rx="8"></rect>
						        <rect id="path-3" x="0" y="0" width="65" height="8" rx="4"></rect>
						        <path d="M4.4408921e-16,11 C4.4408921e-16,4.92486775 4.92486775,0 11,0 C17.0751322,0 22,4.92486775 22,11 L0,11 L4.4408921e-16,11 Z" id="path-5"></path>
						    </defs>
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="Artboard" transform="translate(0.000000, -2.000000)">
						            <g id="Group-2" transform="translate(0.000000, 2.000000)">
						                <g id="Group">
						                    <g id="Page-1">
						                        <g id="Group">
						                            <g id="Rectangle">
						                                <g id="path-1-Clipped">
						                                    <mask id="mask-2" fill="white">
						                                        <use xlink:href="#path-1"></use>
						                                    </mask>
						                                    <g id="path-1"></g>
						                                    <rect id="path-1" stroke="#4A4A4A" stroke-width="6" mask="url(#mask-2)" x="0" y="0" width="92" height="58" rx="8"></rect>
						                                </g>
						                            </g>
						                            <path d="M3.5,43.5 L89.5,43.5" id="Line" stroke="#4A4A4A" stroke-width="3" stroke-linecap="square"></path>
						                            <g id="lessthan" transform="translate(29.000000, 15.000000)" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square">
						                                <path d="M7.5,0.40234375 L0,8" id="Line"></path>
						                                <path d="M7,15 L0,8" id="Line"></path>
						                            </g>
						                            <path d="M42,30 L51,15" id="Line" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square"></path>
						                            <g id="lessthan" transform="translate(61.000000, 22.500000) scale(-1, 1) translate(-61.000000, -22.500000) translate(57.000000, 15.000000)" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square">
						                                <path d="M7.5,0.40234375 L0,8" id="Line"></path>
						                                <path d="M7,15 L0,8" id="Line"></path>
						                            </g>
						                            <path d="M31.5,57.5 L24,70" id="Line" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square"></path>
						                            <g id="Rectangle-2" transform="translate(14.000000, 70.000000)">
						                                <g id="path-3-Clipped">
						                                    <mask id="mask-4" fill="white">
						                                        <use xlink:href="#path-3"></use>
						                                    </mask>
						                                    <g id="path-3"></g>
						                                    <rect id="path-3" stroke="#4A4A4A" stroke-width="4" mask="url(#mask-4)" x="0" y="0" width="65" height="8" rx="4"></rect>
						                                </g>
						                            </g>
						                            <g id="Mouse" transform="translate(70.000000, 82.000000)">
						                                <g id="Combined-Shape">
						                                    <g id="path-5-Clipped">
						                                        <mask id="mask-6" fill="white">
						                                            <use xlink:href="#path-5"></use>
						                                        </mask>
						                                        <g id="path-5"></g>
						                                        <path d="M4.4408921e-16,11 C4.4408921e-16,4.92486775 4.92486775,0 11,0 C17.0751322,0 22,4.92486775 22,11 L0,11 L4.4408921e-16,11 Z" id="path-5" stroke="#4A4A4A" stroke-width="4" mask="url(#mask-6)"></path>
						                                    </g>
						                                </g>
						                                <path d="M11,1.22222222 L11,6.11111111" id="Line" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square"></path>
						                            </g>
						                            <path d="M62,58 L69,70" id="Line" stroke="#4A4A4A" stroke-width="2" stroke-linecap="square"></path>
						                        </g>
						                    </g>
						                </g>
						                <path d="M81.5736169,56 C77.1283472,64.1906867 83.2232936,65.8318628 85.8583833,67.1675102 C88.493473,68.5031577 88.9644508,72.4242561 88.4783491,74.1277442 C87.4940408,77.5771406 81.973639,81.8229901 81.5736169,82.7207458" id="Path-2" stroke="#4A4A4A" stroke-width="2"></path>
						            </g>
						        </g>
						    </g>
						</svg>
						<!-- <img src="../public/img/computer_icon.svg" style="width:40px;height:40px"> -->
					</a></li>
					<li><a href="#interests_section" class="nav_icon" id="interests_btn">
						<img src="../public/img/interests_icon.svg" style="width:50px;height:50px">

					</a></li>
					<li><a href="#contact_section" class="nav_icon">
						<!-- <img src="../public/img/contact_icon.svg" style="width:40px;height:40px"> -->
						<svg width="40" height="40" viewBox="0 0 111 109" class="contact_icon_svg">
						    <style>
						        .a {
						            stroke-width: 3;
						            stroke: #4A4A4A;
						        }
						    </style>
						    <g fill="none">
									<path d="M13.3 77.5L6.4 98.3C5.1 102 7.1 104 10.8 102.8L30.9 96.1C38.8 101.1 48.2 104 58.3 104 86.8 104 109.8 80.9 109.8 52.5 109.8 24.1 86.8 1 58.3 1 29.9 1 6.8 24.1 6.8 52.5 6.8 61.6 9.2 70.1 13.3 77.5Z" class="a"/>
									<path d="M49 77L79 77" class="a"/><polyline points="27 37 47 57 47 57 27 77" class="a"/></g>
						</svg>
					</a></li>
					<li><a href="../public/file/krysler_pinto_resume.pdf" target="_blank" class="nav_icon">
						<img src="../public/img/download_icon.svg" style="width:40px;height:40px">
					</a></li>
				</ul>
			</nav>

		</div>
	</div>

</body>
	<script type="text/javascript" src="../public/js/main.js"></script>
</html>
